body {
      background-color: #000000;
      color: #e0e0e0;
  }
  h1 {
      font-size: 96px;            
      text-align: center;       
      color: #a8e063;
      border-bottom: 6px solid #a8e063;
      display: inline-block;
  }
   h2 {
      font-size: 30px;            
      color:#a8e063;
      text-align: center;
      margin-top: 40px;           
  }

  p {
      font-size: 18px;
      color: #e0e0e0;             
      text-align: center;
      margin-top: 12px;
  }
 li {
      background-color: #111111;
      border: 2px solid #a8e063;
      border-radius: 10px;
      padding: 12px;
      margin: 8px 0;
  }
   li:hover {
      background-color: #a8e063;
      color: #000000;
  }